
.form{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
  }
  
  #to-render{
    width: 1400px;
    height: 1000px;
    position: relative;
    
    .to-render--logo{
      position: relative;
      width: 500px;
      min-height: 90px;
      max-height: 120px;
      padding-right: 100px;
      background-repeat: no-repeat;
      margin-left: 55%;
      display: block;
      padding-top: 21px;
    }
    .to-render--header{
      text-align: right;
      max-width: 680px;
      padding-top: 44px;
      
    }
    .to-render--header-wojewodztwo{
      max-width: 680px;
      font-size: 72px;
      text-align: right;
    }
    .to-render--logo::before{
      display: none;
    }
    .to-render--content-wrapper{
      width: 1400px;
      height: 1000px;
      padding-top: 196px;
    }
  }
  