.App {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  margin-top: -42px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form{
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

#to-render{
  position: relative;
  
  .to-render--logo{
    position: relative;
    width: 450px;
    padding-right: 100px;
    background-repeat: no-repeat;
    margin-left: 45%;
    margin-top: 62px;
    display: block;
    padding-top: 21px;
  }
  .to-render--header{
    text-align: right;
    max-width: 700px;
    
  }
  .to-render--header-wojewodztwo{
    max-width: 700px;
    font-size: 52px;
    text-align: right;
  }
  .to-render--logo::before{
    display: none;
  }
}